ion-content ion-toolbar {
  --background: translucent;
}

#lecteur{
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}
#controller{
    display: flex;
    justify-content: space-around;
    padding: .3rem;
}

#prev img,#next img{
    width: 2rem;
    height: 2rem;
}
#prev img:hover,#next img:hover,#up:hover,#down:hover{
    cursor: pointer;
}
#volume{
    display: flex;
    justify-content: space-around;
    padding: .3rem;
}
#up img,#down img{
    width: 1rem;
    height: 1rem;
}
#playPause{ 
    width: 3rem;
    height: 3rem;
}
#playPause:hover{
    cursor: pointer;
}
#cover{
    width: 220px;
    height: 220px;
    margin: 1rem;
    overflow: hidden;
}
#cover img{
    width: 100%;
}
#time{
    display: flex;
    justify-content: center;
    color: #000;
    margin-bottom: 1rem;
}
